@media only screen and (max-width:1024px) {
   /* responsive-header 1024*/
   main {
      .slider .text-slider {
         width: 60%;
      }
      .container-slider .rotate-slider {
         left: 90%;
      }
      .bar-booking {
         display: block;
      } 
      .tab-booking .item-booking a{
         display:none;
      }
      .box-service {
         grid-template-columns: 45% 45%;
         justify-content: center;
         gap: 30px;
       }
   }
   footer {
      .box-footer {
         grid-template-columns: 50% 30%;
         justify-content: center;
         column-gap: 20px;
         row-gap: 20px;
      }
      .comparison {
         justify-content: center;
      }
      .item-comparison{
         display: none;
      }
   }
}
@media only screen and (max-width:900px) {
   /* responsive-header 1024*/
   main {
      .box-featuredNew {
         display: grid;
         grid-template-columns: 60%;
         justify-content: center;
         row-gap: 40px;
         margin-top: 50px;
      }
      .item-button-featuredNew button{
         padding: 1em;
         font-size: 1em;
       }
       .item-button-featuredNew {
         margin-top: -30px;
       }
   }
}
@media only screen and (max-width: 768px) {
   /* responsive-header 768*/
   header {
      .contact-header {
         justify-content: center;
      }
      .nav-header {
         display: flex;
         background-size: 100% 100%;
         justify-content: center;
      }
      .list-header {
         display: none;
      }
      .bar-header {
         display: block;
      }
      .box-contact{
         display: none;
      }   
   }
   main {
      .booking-slider {
         display: block;
      }
      .form-booking {
         width: 100%;
         border-radius: 0;
      }
      .transportation {
         display: none;
      }
      .img-solution {
         display: none;
      }
      .content-solution {
         margin:0;
         width: 100%;
      }
      .container-ourValue{
         display: block;
      }
      .box-ourValue {
         margin-bottom: 30px;
      }
      .section-service {
         margin-top: 0 !important;
       }
       .container-service {
         padding-top: 0 !important;
       }
       .line-facilities {
         display: none;
      }
      .box-facilities {
         grid-template-columns: auto auto;
         justify-content:center;
       }
       .content-facilities{
         grid-template-columns: 80%;
         justify-content: center;
         row-gap:20px;
       }
       .slider-facilities {
         justify-content: center;
      }
   }
   
}
@media only screen and (max-width: 600px) {
   /* responsive-header 500*/
   main {
      .box-service {
         grid-template-columns: 90%;
         justify-content: center;
       }
       .item-button-featuredNew button{
         padding: 0.5em;
         font-size: 0.8em;
       }
       .item-button-featuredNew {
         margin-top: -20px;
      }
   }

}
