*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family:'Roboto';
}
body {
   width: 100%;
   height: auto;
}
header {
   width: 100%;
   background-color: #00375C;
   height: 130px;
}
main {
   width: 100%;
}
.background-header{
   background-color: #ffff;
   height: 80px;
}
.container {
   max-width: 1200px; 
   margin: 0 auto; 
}
button {
   background-color: #0064A8;
   border-radius: 5px;
   cursor: pointer;
   border: 0;
   color:#F5FBFF;
   padding: 1em;
   font-size: 1em;
   margin: 30px 0;
   white-space: nowrap;
}
header{
   .contact-header {
      display: flex;
      height: 80px;
      margin: auto;
      justify-content: space-between;
      align-items: center;
   }
   .logo-header {
      width: 30%;
   }
   .box-contact h4{
      color: #0064A8;
   }
   .box-contact h4 svg{
      fill: #0064A8;
      vertical-align: middle;
   }
   .nav-header {
      display: flex;
      background-size: 100% 100%;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      color: #C8F2FA;
   }
   .list-header{
      max-width: 100%;
      min-width: 50%;
   }
   .list-header ul {
      display: flex;
      white-space: nowrap;
   }
   .item-header {
      display: inline-block;
      line-height: 25px;
      padding: 0.75em 1.5em;
   }
   .item-header:hover {
      background-color: #0064A8;
   }
   .list-header .item-header a{
      text-decoration: none;
      color: #C8F2FA;
      text-align: center;
      white-space: nowrap;
   }
   .frame-header {
      display: flex;
      align-items: center;
      height: 50px;
      position: relative;
      white-space: nowrap;
   }
   .bar-header {
      display: none;
   }
   .frame-header svg{
      fill:#C8F2FA;
      vertical-align: middle;
   }

}
main {
   .slider {
      background-image: url("./img/Banner\ intro\ 2.png");
      background-size: 100% 100%;
      min-height: 750px;
      color:#F5FBFF;
   }
   .container-slider {
      min-height: 750px;
      display: flex;
      align-items: center;
   }
   .slider .title-slider{
      font-size: 60px;
      font-weight: 800;
      line-height: 70px;
   }
   .slider .letter-title-slider {
      font-size: 20px;
      letter-spacing: 5px;
      line-height: 24px;
      padding: 10px 0;
   }
   .slider .text-slider {
      width: 50%;
      font-size: 15px;
      line-height: 24px;
      padding: 10px 0;
   }
   .container-slider .rotate-slider {
      position:absolute;
      right: 0;
      rotate: 90deg;
   }
   .box-rotate-slider{
      position: relative;
      display: flex;
      letter-spacing: 2px;
   }
   .item-rotate-slider {
      margin: 0  5%;
      text-align: center;
      color: #F5FBFF;
      opacity: 70%;
   }
   .item-rotate-slider:hover {
      .hidden-item-rotate-slider {
         display: inline-block;
         color: #F5FBFF;
         opacity: 100%;
      };
      .block-item-rotate-slider {
         color: #F5FBFF;
         opacity: 100%;
      }
   }
   .item-rotate-slider .block-item-rotate-slider {
      display: block;
      text-align: center;
      white-space: nowrap;
   }
   .hidden-item-rotate-slider {
      display: none;
   }
}
